
@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Currently logged in user
    var email = Request.Cookies["email"].Value;
}
@using WebMatrix.Data;


@{
    var db = Database.Open("DBConnection");
    var getPerson = "SELECT * FROM dbo.People WHERE EmailAddress = @0";
    var person = db.Query(getPerson, email);
    if (person.Count() > 1) {
        var error = "There are more than one account with emails matching " + email;
        @error
    }
}



<div class="box userDashboard">
    <div class="row">
        <div class="col-md-8 col-sm-6">
            <img src="http://www.skywardimaging.com/wp-content/uploads/2015/11/default-user-image.png" alt="" class="pull-left profilePic">

            <!--Person should only have one object in it. Still have to create a loop to get it because we can't do person[0]-->
            @foreach (var row in person) {
                <a class="name" href="#">
                    @row.FirstName  @row.LastName
                </a>
                <p>@row.Role</p>
               
            }
        </div>

        <div class="dropdown col-md-4 col-sm-6">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown">
                Notifications
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li><a href="#">No new notifications</a></li>
            </ul>
        </div>
    </div>

    <br /><br />
    <div class="flexButtons">
        <div class="buttons">
            @Html.ActionLink("View Group Stats", "", "Home", null, new { @class = "btn button1" })
            @Html.ActionLink("View Class Stats", "", "Home", null, new { @class = "btn button2" })<br />
            @Html.ActionLink("View Profile", "UserProfile", "Home", null, new { @class = "btn button3" })

        </div>
    </div>
    <hr>
</div>


